.head_form {
  background: rgba(255, 255, 255, .75);
  color: #000;
  border: 5px solid #446efe
}

.head_form .head_form__up {
  padding: 10px 40px
}

.head_form .head_form__down {
  width: 100%;
  padding: 10px 40px 20px
}

.head_form .head_form__down .head_form__item {
  width: 100%
}

.head_form .head_form__down .head_form__item .btn {
  font-size: 1.3em;
  padding: 15px 0;
  text-transform: uppercase;
  font-weight: 700;
  width: 100%
}

.head_form .head_form__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row
}

.head_form .head_form__list .head_form__swipe {
  width: 50%
}

.head_form .head_form__list .head_form__swipe .head_swipe {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}

.head_form .head_form__list .head_form__swipe .head_swipe .inp_range {
  outline: 0;
  display: inline-block;
  width: 60%;
  margin-left: 5%;
  height: 4px;
  border: 0;
  padding: 0;
  background: #3150ff;
  -webkit-appearance: none
}

.head_form .head_form__list .head_form__swipe .head_swipe .inp_range::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #3150ff;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  cursor: pointe
}

.head_form .head_form__list .head_form__swipe .head_swipe .inp_range::-moz-range-track {
  -moz-appearance: none;
  background: 0 0
}

.head_form .head_form__list .head_form__swipe .head_swipe .inp_range::-moz-range-thumb {
  -moz-appearance: none;
  background-color: #002357;
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  cursor: pointer
}

.head_form .head_form__list .head_form__swipe .head_swipe .inp_range::-ms-fill-lower {
  background: #000
}

.head_form .head_form__list .head_form__swipe .head_swipe .inp_range::-ms-thumb {
  background-color: #fe3131;
  border: none;
  width: 17px;
  height: 17px;
  border-radius: 30px;
  cursor: pointer
}

.head_form .head_form__list .head_form__swipe .head_form__title {
  margin-bottom: .7em
}

.head_form__title {
  margin-bottom: .7em;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700
}

.head_form__header {
  padding: 20px 0;
  color: #fff;
  background: #446efe
}

.head_form .head_form__list .head_form__swipe .head_form__count {
  line-height: 1;
  width: 30%;
  background: 0 0;
  border: 0;
  font-size: 1.2em;
  font-weight: 700;
  color: #3150ff;
  border: 1px solid #3150ff;
  padding: 5px
}

.head_form .head_form__list .head_form__title {
  font-size: 1.1em;
  font-weight: 700;
  text-transform: uppercase
}

.head_form .head_form__list .head_form__box {
  width: 50%;
  margin-bottom: 20px
}

.head_form .head_form__list .head_form__box:first-child {
  width: 100%
}

.head_form__optlabel {
  font-size: 20px;
  padding: 0 0 0 30px;
  position: relative;
  color: #000;
  cursor: pointer
}

.head_form__optlabel input:checked+.head_form__radio::before {
  opacity: 1
}

.head_form__optlabel input[type=radio] {
  opacity: 0;
  position: absolute
}

.head_form__optlabel .head_form__radio {
  width: 18px;
  height: 18px;
  background: #fff;
  border: 1px solid #f8f8f8;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  z-index: 1
}

.head_form__optlabel .head_form__radio::before {
  position: absolute;
  content: '';
  -webkit-border-radius: 100%;
  border-radius: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #3150ff;
  width: 70%;
  height: 70%;
  opacity: 0;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
